<div class="jumbotron text-center">
    <h2>MEAN Authentication App</h2>
   <p class="lead">Wel come to My Application Which is build by Angular NodeJs </p>
   <div>
     <a class="btn btn-primary" [routerLink]="['/register']">Register</a>&nbsp;<a class="btn btn-success" [routerLink]="['/login']">Login</a>
   </div>
  </div>
  <div class="row">     
    <div class="col-md-4">
      <h3>Express Backend</h3> 
    </div>
  
    <div class="col-md-4">
        <h3>Angular</h3>
      </div>
      <div class="col-md-4">
          <h3>JWT Tokens</h3>
        </div>
  </div>
  